<div class="row filter-bar">
  <div class="col">
    <app-form-field [form]="filterForm" [config]="searchFieldConfig" />
  </div>
  <div class="col">
    <div class="row">
      <div class="col-md-9">
        <div class="selects">
          @for (
            config of secondaryFieldConfigs();
            track config.controlName
          ) {
            <app-form-field [form]="filterForm" [config]="config" />
          }
        </div>
      </div>
      <div class="col-md-3 text-center">
        @if (hasActiveFilters()) {
          <button class="reset-btn mt-3" (click)="resetFilters()">
            Reset filters
          </button>
        }
      </div>
    </div>
  </div>
</div>
